#root {
  min-width: 100%;
  min-height: 100dvh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-secondary {
  min-height: 4rem;
  min-width: fit-content;

  padding: 0rem 3rem 0rem 3rem;

  border-radius: 1rem;
  border-style: none;
  
  background-color: #4c4fad;
  color: white;
  font-size: x-large;
  font-weight: 500;
  position: fixed;

  bottom: 40px;
  right: 40px;

  transition: all 0.1s linear 0.1s;
}

.button-secondary:hover {

  box-shadow: rgba(67, 39, 85, 0.2) 0px 7px 7px 0px;
  transform: scale(1.1);
  
}

#body {
  width: 100%;
  min-height: 100dvh;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 5rem;
}

#table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  min-width: auto;
  
  margin: 1rem;
  padding: 1rem;

  background: rgba(255, 255, 255);

  border-radius: 0.5rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
}

#table td, #table th {

  min-width: 8rem;

  text-align: justify;

}

#table th {
  color: #808080;
  font-weight: 300;
}

#table td {
  font-weight: 500;
  font-size: 18px;
}

#primary-row, #data-row {
  width: 100%;

  display: flex;
  flex-direction: row;
}