#general-body {
  width: 100%;
  min-height: 100dvh;

  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.button-secondary {
  min-height: 4rem;
  min-width: fit-content;

  padding: 0rem 3rem 0rem 3rem;

  border-radius: 1rem;
  border-style: none;
  
  background-color: var(--primary-color);
  color: white;
  font-size: x-large;
  font-weight: 500;
  position: fixed;

  bottom: 40px;
  right: 40px;

  transition: all 0.1s linear 0.1s;
}

.button-secondary:hover {

  box-shadow: rgba(67, 39, 85, 0.2) 0px 7px 7px 0px;
  transform: scale(1.1);
  
}