#table-body {
    width: 100%;
    min-height: 100dvh;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 5rem;
}

#table {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: auto;
    
    margin: 1rem;
    padding: 1rem;

    background: rgba(91, 86, 129, 0.2);

    border-radius: 0.5rem;
    border-style: solid;
    border-color: rgba(91, 86, 129, 0.2);
}

#table td, #table th {

    justify-content: space-between;

    padding: 0rem 1rem 0rem 1rem;

    text-align: justify;

}

#table th {
    color: #a29eae;
    font-weight: 300;
}

#table td {

    color: #ededed;

    font-weight: 500;
    font-size: 18px;
}